<strong> Olá, {{student_name}}.</strong>
<p>Sua matrícula foi concluída e agora você faz parte do time <b>GymPoint</b>, seja bem vindo.</p>
<p>Confira abaixo os detalhes:</p>
<p>
<strong>Plano: </strong> {{title_plan}}<br />
<strong>Duração: </strong>{{duration_plan}} meses <br />
<strong>Preço mês: </strong>R$ {{price_plan}} <br />
<strong>Preço total: </strong>R$ {{total_price}} <br />

<br />

<small>Sua matrícula atual expira {{end_date}}.</small>

</p>
